body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    text-align: center
}

.container {
    width: 90%;
    max-width: 600px;
    background: #ffffff;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #2c3e50;
    font-size: 26px;
    margin-bottom: 15px;
}

input {
    margin: 8px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    border: none;
    padding: 8px 15px;
    font-size: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#expenseInputs {
    text-align: left;
    margin-top: 15px;
    padding: 10px;
    background: #ecf0f1;
    border-radius: 5px;
}

#expenseInputs label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    background: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    line-height: 1.6;
}


.success {
    color: #27ae60;
}

.warning {
    color: #e67e22;
}

.error {
    color: #c0392b;
}
